.title  
{  
        margin-bottom: 20px;  
        padding:20px  
}  
.img  
{  
        height: 260px;width:100%  
}  
.list--slider{
        margin-top: 10px;
         background-color:rgb(50, 48, 48);
         justify-content: center;
         padding-right: 0px;
         padding-left: 7px;
         
     }
